#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

ConsoleExamples/ConsoleExamples.csproj.vs10x
ConsoleExamples/ConsoleExamples.vsdoc
EncogCmd/EncogCmd.csproj.vs10x
EncogCmd/VSdoc/EncogCmd.hhc
EncogCmd/VSdoc/FINAL_CHM_DOC/encog-core-cs.chm
EncogCmd/VSdoc/HelixoftHelpReg.exe
EncogCmd/VSdoc/encog-core-cs.chm
EncogCmd/VSdoc/encog-core-cs_dyn_help.xml
EncogCmd/VSdoc/msdn2/CFW.gif
EncogCmd/VSdoc/msdn2/collall.gif
EncogCmd/VSdoc/unregister_encog-core-cs.bat
OCR/OCR.csproj.vs10x
QuickConsoleTests/Program.cs
SOMColors/SOMColors.csproj.vs10x
encog-core-cs.5.1.ReSharper.user
encog-core-cs.5.1.ReSharper.user.orig
encog-core-cs.sln.vsdoc
encog-core-cs/encog-core-cs.csproj.vs10x
encog-core-cs/encog-core-cs.vsdoc